<style>
    .my-btn {
    }
</style>
<th:div th:fragment="fragmenSidebar()" class="sidebar" data-color="rose" data-background-color="black" data-image="/assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="#" class="simple-text logo-mini">

    </a>
        <a class="simple-text logo-normal">
            <button type="button" id="sendButton" class="btn btn-success my-btn">Применить<div class="ripple-container"></div></button>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <div class="card ">
                    <div class="card-header card-header-rose card-header-text">
                        <h4 class="card-title">Дата</h4>
                    </div>
                    <div class="card-body ">
                        <div class="form-group">
                            <input id="datepicker" name="date" type="text" class="form-control datepicker" th:value="${#temporals.format(localDate, 'dd.MM.YYYY')}">
                        </div>
                    </div>
                </div>
            </li>
            <li th:each="HM: ${HMs}" class="nav-item li_hm">
                <a class="nav-link" data-toggle="collapse" th:href="@{'#'+${HM.toArray()[0].code}}">
                    <i class="material-icons">image</i>
                    <p>
                        <span th:text="${HM.toArray()[0].hm}"> </span>
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" th:id="${HM.toArray()[0].code}">
                    <ul class="nav">
                        <li th:each="paramHM: ${HM}" class="nav-item ">
                            <a class="nav-link" href="#">
                                <input class="hm_checkbox" type="checkbox" th:id="${paramHM}" th:name="${paramHM}">
                                <span class="sidebar-mini"> PП </span>
                                <label th:for="${paramHM}">
                                    <span class="sidebar-normal" th:text="${paramHM.getName()}"> </span>
                                </label>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar-background"></div>
</th:div>