<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Комсомольская ТЭЦ-2
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <!-- bootstrap datepicker CDN Link -->
  <link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/assets/css/bootstrap-icons.css'>
  <!-- Tempus Dominus Styles -->
  <link href="/assets/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.css"/>



  <!-- CSS Files -->
  <link href="/assets/css/sidebar_style.css" rel="stylesheet" />

</head>

<body class="img_sb">

    <div class="" th:replace="~{fragments\sidebar2 :: fragmentSidebar()}"/>

    <section class="home-section">
        <div class="main-chart-container">
            <div th:each="data: ${tmDataset}" class="chart-card">
                <canvas th:id="${data.chartId}"></canvas>
            </div>
        </div>
    </section>

    <script src="/assets/js/core/popper.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/core/moment.min.js" crossorigin="anonymous"></script>

    <!-- Tempus Dominus JavaScript -->
    <script src="/assets/js/core/tempus-dominus.js" crossorigin="anonymous"></script>

    <!--   Core JS Files   -->

  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/chart.min.js"></script>
  <script src="/assets/js/core/chartjs-plugin-zoom.min.js"></script>
  <script src="/assets/js/core/hammerjs@2.0.8"></script>

  <script src="/assets/js/sidebar_script.js"></script>



  <script th:inline="javascript">
    let aChart = [];
    let clickFlag = false;
    let yAxis, x, clickIndex, datePicker, datetimepickerEndTime;
    let params = new FormData();

    $(document).ready(function() {
      let dp = initDatepicker(true, true, 'datetimepicker');
      let dpEnd = initDatepicker(false, true, 'datetimepickerEndTime');

      datePicker = document.getElementById('datetimepicker');
      datetimepickerEndTime = document.getElementById('datetimepickerEndTime');
      params.set('date', datePicker.value);
      params.set('timeEnd', datetimepickerEndTime.value);
      if(localStorage.getItem("params") !== null){
        let lStorage = JSON.parse(localStorage.params);
        datePicker.value = lStorage.date;
          datetimepickerEndTime.value = lStorage.timeEnd;

          let DateTimeVal = moment(datePicker.value, 'DD/MM/YYYY, HH:mm').toDate();
          dp.dates.setValue(tempusDominus.DateTime.convert(DateTimeVal));

          let DateTimeValEnd = moment(datetimepickerEndTime.value, 'HH:mm').toDate();
          dpEnd.dates.setValue(tempusDominus.DateTime.convert(DateTimeValEnd));

        for (const id in lStorage) {
          let el = document.getElementById(id);
          if(el !== null){
            el.checked = true;
            params.set(el.id, el.checked);
          }
        }
      }// if localStorage
        // let m = dp.dates._dates[0].month;
        // let d = dp.dates._dates[0].day;
        //
        // dp.dates._dates[0].month=--m;

      document.getElementById('reset').addEventListener('click', reset);

      document.getElementById('sendButton').addEventListener('click', ev => {
        params.set('date', datePicker.value);
        params.set('timeEnd', datetimepickerEndTime.value);
        localStorage.setItem('params', JSON.stringify(Object.fromEntries(params)));
        window.location.href = window.location.origin +
                '?' + new URLSearchParams(params).toString();
      });

      /* Растовляем галочки из localStorage */
      for (let el of document.getElementsByClassName('hm_checkbox')) {
        el.addEventListener('click', evt => {
          if (el.checked) {
            params.set(el.id, el.checked);
          } else {
            params.delete(el.id);
          }
        })
      }

      /* считаем галочки и отображаем перед именем теплотрассы (HM) */
      for (let el of document.getElementsByClassName('li_hm')){
        let nameHM = el.querySelector('span');
        let count = countChecked(el);
        if (count>0) nameHM.textContent = `( ${count} ) ${nameHM.textContent}`;
      }

      function countChecked(list) {
        let count = 0;
        for(const el of list.querySelectorAll('input')){
          if (el.checked) count++;
        }
        return count;
      }

      function reset() {

        for (let el of document.getElementsByClassName('li_hm')){
          let nameHM = el.querySelector('span');
          let count = countChecked(el);
          if (count>0) nameHM.textContent = nameHM.textContent.split(')')[1];
        }

        for (const el of document.getElementsByClassName('hm_checkbox')) {
          el.checked = false;
        }
        params = new FormData();
        params.set('date', datePicker.value);


      }

      for (const data of [[${tmDataset}]]) {
        initCharts(data, [[${time}]]);
      }

    })


    function initCharts(tmData, time) {

      const drawLines= {
        id: 'drawLines',
        afterDraw(chart, evt, activeEls) {
          if (clickFlag){
            for (let i = 0; clickFlag&&(i < aChart.length); i++) {
              let ctx = aChart[i].ctx;
              ctx.restore();
              ctx.beginPath();
              ctx.lineWidths = 1;
              // ctx.setLineDash([6,6]);
              ctx.strokeStyle = 'rgba(0, 0, 255, 1)'
              ctx.moveTo(x, yAxis.top);
              ctx.lineTo(x, yAxis.bottom);
              ctx.stroke();
              ctx.save();
            }
          }
        }
      };

      const clickableLines={
        id: 'clickableLines',
        afterEvent(chart, evt, activeEls){
          if (evt.event.type=='click'){
            clickFlag = !clickFlag;
            if (clickFlag){
              clickIndex = chart.tooltip._active[0].index;
              x = chart.tooltip._active[0].element.x;
              yAxis = chart.scales.y;
              for (const chart of aChart) {
                let title = chart.options.plugins.title.text;
                let splitterTitle = title.split('|');
                splitterTitle[splitterTitle.length] = ' Выбр.: ' + chart.data.datasets[0].data[clickIndex].toFixed(3);
                chart.options.plugins.title.text = splitterTitle.join('|');
                chart.update();
              }
            }else {
              for (const chart of aChart) {
                let title = chart.options.plugins.title.text;
                let splitterTitle = title.split('|');
                // splitterTitle[splitterTitle.length-1] = '';
                splitterTitle.pop();
                chart.options.plugins.title.text = splitterTitle.join('|');
                chart.update();
              }
            }
          }
        }
      };

      const labels = time;
      const data = {
        labels: labels,
        datasets: [{
          backgroundColor: 'rgb(255, 99, 132)',
          borderColor: 'rgb(255, 99, 132)',
          data: tmData.val,
          pointRadius: 0,
        }]
      };
      const config = {
        type: 'line',
        data: data,
        options: {
          maintainAspectRatio: false,
          responsive: true,
          interaction: {
            intersect: false,
            mode: 'index',
          },
          plugins: {
            legend: {
              display: false,
            },
            title: {
              display: true,
              align: 'start',
              text: (ctx) => tmData.HM + ' - ' + tmData.name + ' | min: ' + tmData.min.toFixed(3) +  ' | max: ' + tmData.max.toFixed(3) + ' | среднее: ' + tmData.average.toFixed(3) + ' ',
            },
            zoom: {
              zoom: {
                wheel: {
                  enabled: true,
                  modifierKey: 'ctrl'
                },
                pinch: {
                  enabled: true
                },
                mode: 'y',
              }
            },
          },
        },
        plugins: [clickableLines, drawLines]
      };

      const myChart = new Chart(
              document.getElementById(tmData.chartId),
              config
      );
      aChart.push(myChart);
    }

    function initDatepicker(calendar, clock, id) {
       return  new tempusDominus.TempusDominus(document.getElementById(id), {
            display: {
                components: {
                    calendar: calendar,
                    clock: clock,
                    useTwentyfourHour: true,
                }
            },
            localization: {
                today: 'Перейти сегодня',
                clear: 'Очистить выделение',
                close: 'Закрыть сборщик',
                selectMonth: 'Выбрать месяц',
                previousMonth: 'Предыдущий месяц',
                nextMonth: 'В следующем месяце',
                selectYear: 'Выбрать год',
                previousYear: 'Предыдущий год',
                nextYear: 'В следующем году',
                selectDecade: 'Выбрать десятилетие',
                previousDecade: 'Предыдущее десятилетие',
                nextDecade: 'Следующее десятилетие',
                previousCentury: 'Предыдущий век',
                nextCentury: 'Следующий век',
                pickHour: 'Выберите час',
                incrementHour: 'Время увеличения',
                decrementHour: 'Уменьшить час',
                pickMinute: 'Выбрать минуту',
                incrementMinute: 'Минута приращения',
                decrementMinute: 'Уменьшить минуту',
                pickSecond: 'Выбрать второй',
                incrementSecond: 'Увеличение секунды',
                decrementSecond: 'Уменьшение секунды',
                toggleMeridiem: 'Переключить период',
                selectTime: 'Выбрать время',
                selectDate: 'Выбрать дату',
                dayViewHeaderFormat: { month: 'long', year: '2-digit' },
                locale: 'ru',
                startOfTheWeek: 1
            }
        });


    }

  </script>

</body>

</html>